BACKEND_BUILD_TARGET=local
COMPOSE_FILE=compose.yaml:compose.local.yaml
FASTAPI_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/boilerplate
FASTAPI_DEBUG=true
FASTAPI_ENVIRONMENT=local
FASTAPI_SECRET_KEY=local-development-secret-key-change-me-in-production
PYTHONBREAKPOINT=IPython.core.debugger.set_trace
PYTHONDEVMODE=1
